body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    font-size: 5.625em;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    line-height: 2;
}

h2 {
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

hr {
    width: 6rem;
    border-style: dotted none none;
    border-width: 7px;
    border-color: #e0e0e0;
    margin: 3rem auto;
}

.top_container {
    margin: 0 auto 4rem;
    background-color: #EAF6F6;
    position: relative;
    padding-top: 120px;
}

.middle_container {
    width: 200px;
    height: 200px;
    background-color: red;
}

.bottom-container {
    padding: 3rem;
    line-height: 3;
    background-color: #66BFBF;
    margin: 0 auto 0;
}

.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    right: 1050px;
}

.top-cloud {
    position: absolute;
    bottom: 700px;
    left: 1100px;
}

.rasool_avatar {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.skill-row {
    line-height: 2;
    text-align: left;
    width: 50%;
    margin: 100px auto;
}

.code_gif {
    margin-right: 30px;
    float: left;
    width: 25%;
}

.graphic_design_icon {
    margin-left: 30px;
    float: right;
    width: 25%;
}

.contact-me {
    margin: 0 auto 5rem;
    line-height: 2;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copy-right-paragraph {
    color: #EAF6F6;
    margin-bottom: 0;
}

.footer-link {
    color: #11999E;
    margin: auto 1rem;
    text-decoration: none
}

.footer-link:hover {
  color: white;
}

.contact-me-paragraph {
    margin-bottom: 3rem;
}
